{% extends "home.html" %}

{% block content %}

<div class="container d-flex justify-content-center mt-3">
  <div class="card" style="width: 25rem; height: auto;">
     <div class="card-header text-center p-0 pt-2">
        <h5 class="card-title mb-4 text-center" style="font-size: 1.5rem">Sign Up</h5>
      </div>
    <div class="card-body p-3">
      
      <form action="" method="POST" autocomplete="off" class="form">
        {% csrf_token %} 

        <div class="mb-2">
          <label for="id_username" class="form-label">Username</label>
          <input type="text" name="username" id="id_username" class="form-control">
          {% if signupform.username.errors %}
            <div class="text-danger small">{{ signupform.username.errors }}</div>
          {% endif %}
        </div>

        <div class="mb-1">
          <label for="id_email" class="form-label">Email</label>
          <input type="email" name="email" id="id_email" class="form-control">
          {% if signupform.email.errors %}
            <div class="text-danger small">{{ signupform.email.errors }}</div>
          {% endif %}
        </div>

        <div class="mb-1">
          <label for="id_password1" class="form-label">Password</label>
          <input type="password" name="password1" id="id_password1" class="form-control">
          {% if signupform.password1.errors %}
            <div class="text-danger small">{{ signupform.password1.errors }}</div>
          {% endif %}
        </div>

        <div class="mb-3 > ">
          <label for="id_password2" class="form-label">Confirm Password</label>
          <input type="password" name="password2" id="id_password2" class="form-control">
          {% if signupform.password2.errors %}
            <div class="text-danger small">{{ signupform.password2.errors }}</div>
          {% endif %}
        </div>

        <button class="btn btn-success w-100" type="submit">Create User</button>

        <p class="small mt-3 text-center">Already have an account? <a href="{% url 'login' %}">Log In</a></p>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
